<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TSM with Simulated Annealing</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <ul class="nav navbar-nav">
                <li class="active"><a href="">Knots: </a></li>

                <li>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <button class="btn btn-sm" ng-click="decrementNumberOfKnots()"><i
                                    class="glyphicon glyphicon-chevron-left"></i></button>
                            <input class="text-center form-control" ng-model="input.numberOfKnots" type="text"
                                   placeholder="count of knots" />
                            <button class="btn btn-sm" ng-click="incrementNumberOfKnots()"><i
                                    class="glyphicon glyphicon-chevron-right"></i></button>
                        </div>
                    </form>
                </li>

                <li class="active"><a href="#">Degree: </a></li>

                <li>
                    <form class="navbar-form navbar-left">
                        <div class="form-group">
                            <button class="btn btn-sm" ng-click="decrementDegree()"><i
                                    class="glyphicon glyphicon-chevron-left"></i></button>
                            <input class="text-center form-control" ng-model="input.degree" type="text"
                                   placeholder="degree"/>
                            <button class="btn btn-sm" ng-click="incrementDegree()"><i
                                    class="glyphicon glyphicon-chevron-right"></i></button>
                        </div>
                    </form>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{input.baseFunction.name}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a ng-repeat="baseFun in input.baseFunctions" ng-click="setBaseFunction(baseFun)">{{baseFun.name}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div class="container">
    <div class="jumbotron">
        <canvas class="canvas">
            sfd
        </canvas>
    </div>
</div>
<hr/>
<div class="footer">
    <p>Łukasz Raduj 2014, AGH UST</p>
</div>
